<h1> Show </h1>

<table class="table table-striped">
      <th> Name </th>
      <th> Age </th>
  <tr>
    <td><%= @profile.name %></td>
    <td><%= @profile.age %></td>
  </tr>
</table>
</br>
<%= link_to 'Back', profiles_path, class:"btn btn-primary" %>
